################################################################################
### (c) 2017 XyrusWorx
################################################################################

# General
Thumbs.db

# PACMAN
/work/Assemblies/*
/work/Output/
/out/
/tools/cake/tools/

# Microsoft Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/
*.[Cc]ache
!*.[Cc]ache/
*.plg
*.opt
launchSettings.json

# Build- and test results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Dd]ebugPS/
[Rr]eleasePS/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Ee]xpress/
publish/
dlldata.c
TestResult.xml
*.VisualState.xml
_Chutzpah*
csx/
*.build.csdef
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
Generated_Code/
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# DNX
project.lock.json
artifacts/

# Microsoft Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Microsoft Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Microsoft TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# Package Managers
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
.paket/paket.exe
paket-files/

# Microsoft Azure Emulator
ecf/
rcf/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Conversion remainders
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# JetBrains Plugins
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover

# JetBrains IDEs
/src/.idea/**/workspace.xml
/src/.idea/**/tasks.xml
/src/.idea/dictionaries
/src/.idea/**/dataSources/
/src/.idea/**/dataSources.ids
/src/.idea/**/dataSources.xml
/src/.idea/**/dataSources.local.xml
/src/.idea/**/sqlDataSources.xml
/src/.idea/**/dynamic.xml
/src/.idea/**/uiDesigner.xml
/src/.idea/**/gradle.xml
/src/.idea/**/workspace.xml
/src/.idea/**/libraries
/src/.idea/replstate.xml
/src/.idea/sonarlint
/src/.idea/**/mongoSettings.xml
/src/.idea_modules/
cmake-build-debug/
*.iws
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/src/.idea
